VITE_SUPABASE_URL=https://fuvepolsspautomhacpi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ1dmVwb2xzc3BhdXRvbWhhY3BpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwNjE0ODEsImV4cCI6MjA5MTYzNzQ4MX0.KS3CGK324GF395mppM-ZMWSe4zwawVPjL-K0UDtPFsw
